*.pyc
switchbuild/switch*.*.*.*
switchbuild/switch
results-build/*
results-workload/*
config_build_recipes.yaml
config_build.yaml
backup_config_*.yaml
generated-topology-diagrams/
logs/*.log
built-hwdb-entries/
/firesim.py
